apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ ansible_all_ipv4_addresses[0] }}
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: stable
controlPlaneEndpoint: {{ controlPlaneEndpoint.host }}:{{ controlPlaneEndpoint.port }}
networking:
  serviceSubnet: 192.168.0.0/16 # For calico network add-on
{% if etcd_cluster is defined %}
etcd:
  external:
    endpoints:
    {% for item in etcd_cluster.hosts -%}
      - https://{{ item.ip_address }}:{{ item.port }}
    {% endfor -%}
    caFile: {{ ansible_user_dir }}/ssl/ca.pem
    certFile: {{ ansible_user_dir }}/ssl/cert.pem
    keyFile: {{ ansible_user_dir }}/ssl/key.pem
{% endif %}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "ipvs"